.back {
  margin: 1rem auto auto;
  max-width: 768px; 
  padding: 1.25rem 2rem; 
  background: linear-gradient(to bottom right, #00a9bf, #181287);
}

.title{
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}

.lowercase-placeholder::placeholder {
  text-transform: lowercase;
}

.icon {
  margin-left: 1rem;
  color: white;
  cursor: pointer;
}

.icon:hover{
  transform: scale(1.25);
}

.converter{
  background: none;
  border: none;
  font-size: 1.25rem; 
  line-height: 1.75rem;
}

.gap{
  font-size: 1.25rem; 
  line-height: 1.75rem;
  margin-bottom: 0;
}

.city-name{
  font-size: 1.75rem;
}

.condition{
  color: #00FFFF;
}

.temperature{
  font-size: 2.3rem;
  margin-bottom: 0;
}

.features{
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.weather-icon{
  width: 70px;
}

.option{
  margin-bottom: 0;
  font-size: 0.875rem;
}

.forecast-icon{
  width: 40px;
}
